<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <div style="text-align:center">
    <h1>Welcome, {{userName}}!</h1>
    <form>
      <input [(ngModel)]="userName" type="text" name="user">
    </form>

    <h1>Recipe Box for your recipes, a storage. {{month}}/{{day}}/{{year}}</h1>
    <app-recipe-list [childRecipeList]="masterRecipeList"></app-recipe-list>
  </div>

<div *ngIf="selectedRecipe">
  <h3>{{selectedRecipe.title}}</h3>
<p>Recipe Complete? {{selectedRecipe.done}}</p>
<h3>Edit Recipe</h3>
<label>Enter Title:</label>
<input [(ngModel)]="selectedRecipe.title">
<br>
<label>Enter Ingredients:</label>
<input [(ngModel)]="selectedRecipe.ingredients">
<br>
<label>Enter Directions:</label>
<input [(ngModel)]="selectedRecipe.directions">
<br>
<label>Enter Recipe Rating (1-3):</label>
<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="1">1 (Low Rating)<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="2">2 (Medium Rating)<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="3">3 (High Rating)
<button (click)="finishedEditing()">Done</button>
</div>
</body>
</html>
