<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <div style="text-align:center">
    <h1>Welcome, {{userName}}!</h1>
    <form>
      <input [(ngModel)]="userName" type="text" name="user">
    </form>

    <h1>Recipe Box for your recipes, a storage. {{month}}/{{day}}/{{year}}</h1>
    <h3>{{Recipes}}</h3>
  </div>
  <ul>
    <li [class]="ratingColor(currentRecipe)" *ngFor="let currentRecipe of tasks">{{currentRecipe.title}}<br>{{currentRecipe.ingredients}}<br>{{currentRecipe.directions}} <button (click)="editTask()">Edit!</button></li>
  </ul>

  <h3>{{selectedRecipe.title}}</h3>
<p>Recipe Complete? {{selectedRecipe.done}}</p>
<h3>Edit Recipe</h3>
<label>Enter Title:</label>
<input [(ngModel)]="selectedRecipe.title">
<br>
<label>Enter Ingredients:</label>
<input [(ngModel)]="selectedRecipe.ingredients">
<br>
<label>Enter Directions:</label>
<input [(ngModel)]="selectedRecipe.directions">
<br>
<label>Enter Recipe Rating (1-3):</label>
<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="1">1 (Low Priority)<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="2">2 (Medium Priority)<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="3">3 (High Priority)
</body>
</html>
